<ion-header>
  <ion-toolbar>
    <ion-title>Homepage Admin</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" routerLink="/login">
        Esci
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="admin-home-content" fullscreen="true">
  <div class="lava-lamp-bg">
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
    <div class="blob blob-3"></div>
  </div>

  <div class="admin-wrapper">
    <div class="admin-card">
      <div class="benvenuto">
        <h2>Ciao{{ nomeUtente ? ', ' + nomeUtente : '' }}!</h2>
        <p>Benvenuto nel pannello di amministrazione.</p>
      </div>

      <div class="top-buttons">
        <ion-button
          expand="block"
          routerLink="/visualizza-pt-admin"
          class="home-button gradient violet"
        >
          Visualizza Personal Trainer
        </ion-button>

        <ion-button
          expand="block"
          routerLink="/visualizza-clienti"
          class="home-button gradient blue"
        >
          Visualizza Clienti
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>

