<ion-content class="ion-padding">
  <div class="button-container">
    <ion-button
      class="rounded-button"
      expand="block"
      (click)="goToTrainers()"
    >
      Visualizza Personal Trainer
    </ion-button>

    <ion-button
      class="rounded-button"
      expand="block"
      (click)="goToClients()"
    >
      Visualizza Clienti
    </ion-button>
  </div>
</ion-content>
<ion-content class="ion-padding">
  <div class="button-container">
    <ion-button
      class="rounded-button"
      expand="block"
      (click)="goToTrainers()"
    >
      Visualizza Personal Trainer
    </ion-button>

    <ion-button
      class="rounded-button"
      expand="block"
      (click)="goToClients()"
    >
      Visualizza Clienti
    </ion-button>
  </div>
</ion-content>
