<ion-header>  <!-- Intestazione della pagina -->
  <ion-toolbar> <!-- Barra degli strumenti: contiene il titolo e il pulsante "Esci" -->
    <ion-title>Homepage Admin</ion-title> <!-- Titolo pagina -->
    <ion-buttons slot="end">
      <!-- Pulsante "Esci": a destra e di colore rosso-->
      <ion-button color="danger" routerLink="/login"> <!--cliccando "Esci" torna alla pagina di login -->
        Esci
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="admin-home-content" fullscreen="true"> <!-- Contenuto della pagina -->
  <div class="lava-lamp-bg">                               <!-- Sfondo decorativo definito in CSS -->
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
    <div class="blob blob-3"></div>
  </div>

  <div class="admin-wrapper"> <!-- Racchiude il contenuto della pagina in un wrapper -->
    <div class="admin-card">
      <div class="benvenuto"> <!-- Testo iniziale home -->
        <!-- messaggio di benvenuto personalizzato Angular Interpolation --> 
        <h2>Ciao{{ nomeUtente ? ', ' + nomeUtente : '' }}!</h2>
        <p>Benvenuto nel pannello di amministrazione.</p>       <!-- Descrizione  -->
      </div>

      <!-- Pulsanti di azione presenti nella home: -->
      <div class="top-buttons">
        <!-- Pulsante "Visualizza Personal Trainer" che porta alla nuova pagina -->
        <ion-button  class="home-button gradient violet" expand="block" routerLink="/visualizza-pt-admin">
          Visualizza Personal Trainer
        </ion-button>

        <!-- Pulsante "Visualizza Clienti" che porta alla nuova pagina -->
        <ion-button class="home-button gradient blue" expand="block" routerLink="/visualizza-clienti-ad">
          Visualizza Clienti
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>

