@import '../../theme/variables'; // importa file che contiene variabili di stile globali

html, body, ion-app {
  height: 100%;
}

ion-content.visualizza-allenamenti-content { //contenuto principale della home
  @extend .page-container; // applica tutti gli stili della classe page-container
}

.lava-lamp-bg { //sfondo animato
  @extend .lava-lamp-bg; // applica tutti gli stili della classe lava-lamp-bg
  .blob { @extend .blob; }
  .blob-1 { @extend .blob-1; }
  .blob-2 { @extend .blob-2; }
  .blob-3 { @extend .blob-3; }
}

.visualizza-allenamenti-wrapper { //contenitore
  position: relative;
  z-index: 1; //contenitore più "interno"
  width: 100%;
  max-width: 520px; //limite di larghezza
  padding: 10px; //spazio interno
  margin: 0 auto; //centrato orizzontalmente
}

.visualizza-allenamenti-card {
  @extend .card-glass; // applica tutti gli stili della classe card-glass
  padding: 2rem; //spazio interno
  text-align: center; //testo al centro della card

  h2 { //stile titolo
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--color-dark);
    margin-bottom: 1.2rem;
    margin-top: 1rem;
  }

  .no-data-msg { //stile messaggio nel caso in cui non siano presenti dati
    margin-top: 2rem;
    font-size: 0.95rem;
    font-style: italic;
    color: var(--color-gray);
  }
}

ion-list.allenamenti { //stile lista di allenamenti
  background: transparent;

  .allenamenti-item {
    --background: var(--blob-bg-color, #7b7bff);
    --border-radius: 20px; //angoli arrotondati
    margin-bottom: 0.1rem;
    padding: 0.5rem;
    --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    --transition: transform 0.2s ease;
    --display: flex;

    &:hover { //zoom al passaggio del mouse
      transform: scale(1.01);
    }

    ion-label {
      h3 { //evidenzia l'orario
        font-size: 1.07rem;
        font-weight: 700;
        color: var(--color-light);
        margin-bottom: 0.4rem;
        text-align: center;
        text-decoration-line: underline;
      }

      p { //stile informazioni aggiuntive
        font-size: 0.9rem;
        margin: 0.15rem 0;
        color: var(--color-light);
      }
    }
  }
}
