<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/clienti-homepage"></ion-back-button>
    </ion-buttons>
    <ion-title>Prenota Allenamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="prenota-allenamento-content" fullscreen="true">
  <div class="lava-lamp-bg">
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
    <div class="blob blob-3"></div>
  </div>

  <div class="prenota-allenamento-wrapper">
    <div class="prenota-allenamento-card">
      <h2>Prenota Allenamento</h2>

      <div class="input-group">
        <h6>Seleziona Trainer</h6>
        <ion-select [(ngModel)]="selectedTrainerId" (ionChange)="caricaSlotDisponibili()" interface="popover" placeholder="Trainer">
          <ion-select-option *ngFor="let trainer of trainers" [value]="trainer.id">
            {{ trainer.full_name }} - {{ trainer.specialization }}
          </ion-select-option>
        </ion-select>
      </div>

      <div class="slot-container">
        <h3>Allenamenti Disponibili</h3>
        <div *ngIf="filteredSlots.length === 0" class="empty">Nessun allenamento disponibile.</div>

        <div *ngFor="let slot of filteredSlots" class="slot-item" [class.disabled]="slot.giaPrenotato">
          <div>
            <strong>Inizio:<br/>{{ slot.start_time | date:'short' }}</strong><br>
            Fine:<br/> {{ slot.end_time | date:'shortTime' }}
          </div>
          <ion-button fill="solid" size="small" class="gradient" [disabled]="slot.giaPrenotato" (click)="prenota(slot.id)">
            {{ slot.giaPrenotato ? 'Prenotato' : 'Prenota' }}
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
