<ion-header>
  <ion-toolbar>
    <ion-title>Homepage Clienti</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" routerLink="/login">
        
        Esci
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="clienti-home-content" fullscreen="true">
  <div class="lava-lamp-bg">
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
    <div class="blob blob-3"></div>
  </div>

  <div class="clienti-wrapper">
    <div class="clienti-card">
      <div class="benvenuto">
        <h2>Ciao{{ nomeUtente ? ', ' + nomeUtente : '' }}!</h2>
        <p>Benvenuto nella tua area personale.</p>
      </div>
      
      <div class="top-buttons">
        <ion-button
          expand="block"
          routerLink="/visualizza-pt"
          class="home-button gradient violet"
        >
          Visualizza e Valuta<br/>Personal Trainer
        </ion-button>

        <ion-button
          expand="block"
          routerLink="/prenota-allenamento"
          class="home-button gradient blue"
        >
          Prenota<br/>Allenamento
        </ion-button>
        <ion-button
          expand="block"
          routerLink="/visualizza-prenotazioni"
          class="home-button gradient light"
        >
          Visualizza<br/>Prenotazioni
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
