@import '../../theme/variables';  //importa file che contiene variabili di stile globali

html, body, ion-app {
  height: 100%;
}

ion-content.visualizza-content{   //contenuto principale della pagina
  @extend .page-container;        //applica tutti gli stili della classe page-container
}

.lava-lamp-bg { //sfondo animato
  @extend .lava-lamp-bg; //applica tutti gli stili della classe lava-lamp-bg
  .blob { @extend .blob; }
  .blob-1 { @extend .blob-1; }
  .blob-2 { @extend .blob-2; }
  .blob-3 { @extend .blob-3; }
}

.ad-wrapper { //contenitore
  position: relative;
  z-index: 1; //contenitore più "interno"
  width: 100%;
  max-width: 480px; //limite di larghezza
  padding: 20px;  //spazio interno
  margin: 0 auto; //centrato orizzontalmente
}

.ad-card {
  @extend .card-glass;  //applica tutti gli stili della classe card-glass
  padding: 2rem;  //spazio interno
}

.title { //stile titolo
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--color-dark);
}

.ad-list { //struttura la lista in modo verticale
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: transparent;
  padding: 0;
  margin: 0;
}

.ad-item { //aspetto degli elementi della lista
  --border-radius: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  --background: #c186e9cc;

  &:hover { //zoom al passaggio del mause
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }

  ion-label { //stile del testo in ogni elemento
    h3 {
      font-size: 1.1rem;
      font-weight: 700;
      color: #6128e7;
      margin: 0 0 0.25rem 0;
    }
    p {
      font-size: 0.9rem;
      color:#ffffffcc;
      margin: 0.1rem 0;
    }
  }
}
