<ion-header>
  <ion-toolbar>
    <ion-title>Registrati</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding register-content">
  <form (ngSubmit)="register()" class="register-form">

    <ion-item lines="none" class="register-item">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="register-item">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="register-item">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="register-item">
      <ion-label position="floating">Nome completo</ion-label>
      <ion-input type="text" [(ngModel)]="full_name" name="full_name" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="register-item">
      <ion-label position="floating">Telefono</ion-label>
      <ion-input type="tel" [(ngModel)]="phone" name="phone" required></ion-input>
    </ion-item>


    <ion-item lines="none" class="register-item">
      <ion-label>Ruolo</ion-label>
      <ion-select [(ngModel)]="role" name="role" required>
        <ion-select-option value="customer">Customer</ion-select-option>
        <ion-select-option value="trainer">Trainer</ion-select-option>
        <ion-select-option value="admin">Admin</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-button expand="block" type="submit" class="register-button" color="primary">
      Registrati
    </ion-button>
  </form>

  <div class="login-link">
    <span>Hai già un account?</span>
    <a routerLink="/login">Accedi</a>
  </div>
</ion-content>
